* {
    background-color: black;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding-top: 25px;
    position: relative;
}

.kotcteeth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px; /* Adjust as needed */
    height: auto;
    transition: transform 0.3s ease;
}

.kotcteeth img {
    max-width: 100%;
    height: auto;
}

.kotc-hovered {
    transform: scale(1.1); /* Scale factor for hover effect */
}

.kotc-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.kotc-navbar li {
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.kotc-navbar li:hover {
    background-color: #555;
}

/* Media Query for Phones */
@media (max-width: 768px) {
    .kotc-navbar {
        display: none;
    }

    .header-container .kotc-navbar.visible {
        display: block;
    }

    .kotc-navbar ul {
        flex-direction: column;
    }
}
