* {
    background-color: black;
}
html,
body {
    width: 100vw;
    height: 100vh;
    margin: 1.5%;
    padding: 1.5%;
}

// Navbar Section
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding-top: 25px;
    position: relative;
}

.kotcteeth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px; /* Adjust as needed */
    height: auto;
    transition: transform 0.3s ease;
}

.kotcteeth img {
    max-width: 100%;
    height: auto;
}

.kotc-hovered {
    transform: scale(1.1); /* Scale factor for hover effect */
}

.kotc-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.kotc-navbar li {
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.kotc-navbar li:hover {
    background-color: #555;
}

// Landing Page / what you see when the page loads
.landing-video {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 100vw;
    margin: 0%;
    padding: 0%;
}

.landing-video iframe {
    display: block;
    width: 100%;
    max-width: 100%;
    /* height: auto; */
    /* max-height: 551px; */
}

// About Section
.about-container {
    position: relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.about-container img {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.about-title {
    text-align: center;
    color: #fff;
}
.about-text {
    text-align: center;
    color: #fff;
    max-width: 75%;
    margin: 0 auto;
}

/

// Past Results section

// Media section

// Sponsors and Thank you's

// The team and who's working on the event

/* Media Query for Phones */
@media (max-width: 768px) {
    .kotc-navbar {
        display: none;
    }

    .header-container .kotc-navbar.visible {
        display: block;
    }

    .kotc-navbar ul {
        flex-direction: column;
    }
}
